includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - packages
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - stdClass
